body {

    
    margin: 5px;
    padding: 5px;
    background-size: cover;
    height: 100vh;
    

    
}

.cabezera {

    display: flex;
    min-height: 120px;
    max-width: 1200px;
    align-items: center;

}

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    min-height: 400px;
}

.column1 {
    background-color: #6490f5;
    padding: 20px;
    text-align: justify;
    grid-column: span 3;
    
    
}

.column2 {
   
    background-color: #567BD1;
    text-align: center;
    grid-column: auto;
    
}

.pie1 {

    background-color: #243357;
    padding: 20px;
    grid-column: span 1;
    
}

.pie2 {
   
    background-color: #344B80;
    padding: 20px;
    grid-column: auto;
    
}

p{
    text-align: end;
}

.grid-2 {
    
    min-height: 80px;
    max-height: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
}



img{
   
    height: 60px;
    width: 60px;
}

h1{
    
    align-items: center;
    size: 2.5em;
    margin-left: 20px;
    
}

.list{
    list-style-type: none;
   color: white;
}

h3{
    size: 1.5em-bold;
    color: white;
}

